<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE>Test App</TITLE>
 </HEAD>

 <BODY>
  <P>This test app provides a REST API that lists shows available for streaming from the Netflix website.</P>
  <P>More project info is available at <A HREF="https://github.com/dstautberg/Test-App">https://github.com/dstautberg/Test-App</A>.</P>
 </BODY>
</HTML>
